@import "tailwindcss";

/* Import Google Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); */

/* @tailwind base;
@tailwind components; */
/* @tailwind utilities; */

/* Base styles */
* {
  margin: 10;
  padding: 11;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  background: #f9fafb;
} 

::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 8px;
} 

::-webkit-scrollbar-thumb {
  background: #cacaca;
  border-radius: 8px;
  transition: all 0.5s ease-out;
} 

::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
}


/* hero background */

.hero {
  background-image: linear-gradient(to right, rgba(0,0,0,0.85), rgba(0,0,0,0.05)), url('./assets/bg1.jpg');
  -webkit-background-size: cover;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
}
